*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Verdana", Arial, sans-serif;
}



body{
  /* background-color: rgba(0, 0, 0);  */
  background-color: #181818;
  color: #F5F8FC;
  /* chnage here */
  
}

p{
  line-height: 2.5rem;
} 


.welcome-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Set your desired background color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000; /* Make sure it's on top of other elements */
  padding: 0 3.3rem;
  font-weight: bolder;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.welcome-message h2 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(1em);
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding-bottom: 1rem;
}
/* message */


/* Styling for the active navigation link */


h3,h4{
color: #FE7C7C;
font-size: 1.5rem;
font-weight: bold;
font-family: 'Didot';

}

.span{
  color: #FE7C7C;
}

/* p{
line-height: 2rem;

} */



/* Layout styles */

/* Navabar styles */
.sid-nav{
  position: fixed;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 0;
  transition: .3s;
  z-index: 100;
  background-color: #181818;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.openbtn{
  font-size: 1rem;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 8px;
  border: none;
  position: fixed;
  top: 10px;
  right: 20px;
  transition: 1s;
  z-index: 200;
  border-radius: .5rem;
  background-color: #FE7C7C;

}
.sid-nav a.active{
text-decoration: overline;
color: #FE7C7C;
}

.sid-nav a:hover {
  text-decoration: overline;
}


.sid-nav a{
font-size: 1.4rem;
font-weight: bold;
padding: 0;
color: #ffffff;
padding: .3rem 0;
}


.block{
width: 90%;
margin: 1rem auto;
text-decoration: none;
text-align: center;

}

.nav-wrapper{
  display: flex;
  flex-direction: column;
}






/* navbat styles end /*




/* Hero section */
.text-container{
height: 100%;
width: 100%;
border: solid  rgba(0, 0, 0, 0);
color: #fff;



}

.text-container h1{
margin-top: 40vh;
text-align: center;
margin-bottom: 1rem;
font-size: 3.5rem;
letter-spacing: 1rem;
font-weight: bolder;
font-family: 'Didot';


}

.text-container p{
text-align: center;
font-size: 1.5rem;
letter-spacing: .8rem;
color: #FE7C7C;
/* font-family: 'Didot'; */

}

.my-container {
position: relative;
width: 100%;
height: 100%; /* Adjust height as needed */
background-color: #151515;

}


.social-container{
  width: 100%;
  margin: 0 auto ;
  padding: 1rem 2rem;
  text-align: center;

}


.social-container img{
  width: 4%;
  opacity: 0.8;
  margin: 0 .2rem;
}

.arrow-down {
 
  font-size: 4em;
  cursor: pointer;
  text-decoration: none;
  color: #FE7C7C;

}


.arrow-div{
  margin-top: 2rem;
  text-align: center;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}



/* Hero section css ends /*



/* main section style */
#main{
  height: 100vh;
  margin-left: 0;
  transition: 0.5s;


}


/* main section css end /*


/* About section */
#about{
 padding: 2rem  0;

}

#about h3{
margin-bottom: 2rem;
}


.about-des {
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem;
  /* transition: background-color 0.8s ease, transform 0.8s ease; */
  /* transform-origin: center; Set the transform origin to the center of the element */
  transform-style: preserve-3d; /* Preserve the 3D transformations */
}

/* .about-des:hover {
  transform: perspective(500px) scaleX(1.1);
  border: solid;
} */



/* About section ends/*


/* Skills section */
#skill-section{
  padding: 2rem .7rem;
  /* margin-top: 1rem; */
  
}

#skill-section h3{
  text-align: center;
}







/* Skills section css ends */
.my-grid{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 3rem 5rem;
}


.skill-cont{
  width: 100%;
  margin: 0 auto;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
 /* Adjust the gap as needed */
  flex: auto;
  transition: background-color 0.5s ease, border 0.5s ease, transform 0.5s ease; 
  opacity: .8;


}

.my-grid > .flex{
  background-color: #212121;
}

.my-grid > .flex p {
  padding: .5rem .8rem;
  margin: .5rem;
}

.flex:hover{
  transform: scale(1.1);
}

.icon {
  max-width: 40px; /* Adjust the maximum width of the icons */
   /* Adjust the margin between the icon and text */
   margin-right: 10px;
}


/* Education section */
#resume{
padding: 3rem 0;

}

.exper{
 cursor: pointer;
 border-left: solid 3px #FE7C7C;
 padding-top: 3rem;

}




.exper > .flex p, .site > .flex p{
  padding: .5rem .8rem;
  background-color: #212121;
  margin: .5rem;
  
} 


/* Education section css ends */
.edu-des{
  color: #FE7C7C;
}
/* portfolio section */


/*portfolio section css ends */

/* project */

.pro-image{
  width: 100%;
  border-radius: 1%;
  opacity: 0.5;
}

#project-grid{
  display: grid;
  grid-template-columns: 40%  40%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.site{
  padding: 1.5rem;
  cursor: pointer;
  height: 600px;
}


.pro-description{
  background-color: #212121;
  padding: .5rem;
  margin: 1rem 0;
  border-radius: 2%;
}

#works{
  padding: 2rem .5rem;
}

.my-button{
  border: solid #FE7C7C;
  color: #FE7C7C;
}

/* Contact section */
#contact{
 height: 80vh;
 display: flex;
 justify-content: center;
 align-items: center;

}

#contact h3 {
  text-align: center;
  margin-top: 3rem; 
}


footer{
text-align: center;
padding: 1.5rem 0;

}

footer p{
  font-size: .8rem;
}

/* Contact section css ends */






/* media queries */
/* Contact section css ends */

@media (min-width: 900px) {
 /* kills */
 /* .skill-cont{
  width: 80%;
  margin: 0 auto;
} */
  /* showcase css */
  
  .my-container{
    background-size: 60% 100%;
    background-position: top center;  
    }
  
  
  /* showcase css ends */
  
  /* navbar css */
      .sid-nav{
          width: 15%;
          
      }
      #main{
         margin-left: 15%;
         background: black;
      }
  
      .openbtn{
        display: none;
      }
      
     
  
     /* navbar css ends */
  
     /* about css */
      #about{
        margin-left: 5rem;
      }

     #about hr{
        margin-bottom: 2rem;
     }

     .about-des{
      width: 100%;
     }
  
  
  
  
 

  
  



   
  /* Education css ends */
  


     
  /* Education css ends */
   
  /* conact form */
  #contact{
    padding: 5rem 0;
  }
  
  .contact-form {
    width: 60%;
    margin: 0 auto;
  }
  
  /* conact form  ends*/
  }
  
  @media screen and (max-width: 768px) {
    .item {
      flex-basis: calc(50% - 20px); /* Two columns on small screens */
    }

    .about-des{
      width: 100%;
    }

    .my-grid{
      width: 100%;
      padding: 0;
    }
    #project-grid{
      display: block;
     
    }

    .site{
      padding: .5rem;
    }

    /* Hero section */
.text-container{
  height: 100%;
  width: 100%;
  border: solid  rgba(0, 0, 0, 0);
  color: #fff;
  padding: 0;
  
  }
 
      .text-container h1{
      text-align: center;
      margin-bottom: 1rem;
      font-size: 2rem;
      letter-spacing: normal;
      font-weight: lighter;

       }
      
      .text-container p{
      text-align: center;
      font-size: 1rem;
      letter-spacing: .3rem;
      /* font-family: 'Didot'; */
      
      }
      
      .my-container {
      position: relative;
      width: 100%;
      height: 100%; /* Adjust height as needed */
      background-color: #151515;

      
      }

      .social-container img{
        width: 10%;
      }
    
   
  }